body, html {
    height: 100vh;
    margin: 0%;
    background-color:rgb(0, 96, 134);
    overflow: hidden;
    
}

#bg {  
    background-image: url("external-content.duckduckgo.com.jpg");
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
  }

#frame{
    position: absolute;
    height:98vh;
    width:120vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#can{
    background-image: url(https://t3.ftcdn.net/jpg/01/81/20/64/240_F_181206484_B7des4LZ7AqYdvfDY3JtQi7zowsHeZMg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    position: absolute;
    border-radius: 50%;
    width:98vh;
    height:60vh;
    bottom:15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pigeon_s{
  position: absolute;
  width:20vh;
  transform: translate(300%, 160%) scaleX(-1);
}

#pigeon_d{
  position: absolute;
  width:20vh;
  transform: translate(300%, 160%) scaleX(-1);
  opacity: 0;
}


